{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "modules": true,
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["eslint:recommended"],
    "globals": {
        "mapboxgl": true,
        "Q": true,
        "_": true,
        "google": true,
        "FB": true,
        "goog": true,
        "$": true,
        "moment": true,
        "dispatch": true,
        "connect": true,
        "React": true,
        "ReactDOM": true,
        "spiceProduction": true,
        "ReactBootstrap": true,
        "Wix": true,
        "If": true,
        "For": true,
        "Else": true,
        "define": true,
        "olark": true,
        "Reflux": true,
        "uniqueId": true,
        "describe": false,
        "it":false,
        "beforeEach":false,
        "spiceVer": false,
        "prodLocaleFile": true,
        "prodAppFile": true,
    },
    "rules": {
        "strict": 0,
        "no-console": 0,
        "no-underscore-dangle": 0,
        "no-trailing-spaces": 2,
        "no-unused-vars": 2,
        "no-undef": 2,
        "semi": 2,
        "indent": ["error", 4]
    }
}
